@model HLP.Portal.MVC.Models.Registration.UserModel
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Portal.cshtml";
}
<fieldset>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-6 column">
                <fieldset>
                    <legend>
                        Log in
                    </legend>
                </fieldset>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true, "Login Failed, check details");
                    <div>
                        @Html.LabelFor(c => c.xUserName)
                        @Html.TextBoxFor(x => x.xUserName, new { @class = "form-control", autofocus = "autofocus", placeholder = "seuemail@exemplo.com" })
                        @Html.ValidationMessageFor(x => x.xUserName)
                    </div>
                    <div>
                        @Html.LabelFor(c => c.xSenha)
                        @Html.PasswordFor(x => x.xSenha, new { @class = "form-control", autofocus = "autofocus", placeholder = "senha" })
                        @Html.ValidationMessageFor(x => x.xSenha)

                    </div>
                    <br />
                    <div>
                        <input type="submit" id="Login" value="Log in" class="btn btn-primary" />
                        <a href="Register" class="btn btn-default">Registre-se</a>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                @Html.CheckBoxFor(c => c.bRemember, new { @class = "checkbox", autofocus = "autofocus" })
                                Remember me
                            </label>
                            <a href="Recovery">Esqueceu sua senha?</a>
                        </div>
                    </div>
                }

            </div>
            <div class="col-md-4 column">
                <section class="social" id="socialLoginForm">
                    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
</fieldset>