@model HLP.Portal.MVC.Models.Adm.HomeModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Portal.cshtml";
}

<fieldset>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <fieldset>
                    <legend>
                        De um 'UP' em seu negócio, tecnologia nunca é pouco para sua empresa.
                    </legend>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="carousel slide" id="carousel-933315">
                            <ol class="carousel-indicators">
                                @for (int count = 0; count < Model.CarrosselNoticias.Count(); count++)
                                {
                                    if (count == 0)
                                    {
                                <li class="active" data-slide-to="@count" data-target="#carousel-261568" />
                                    }
                                    else
                                    {
                                <li data-slide-to="@count" data-target="#carousel-261568" />
                                    }
                                }
                            </ol>
                            <div class="carousel-inner">

                                @for (int i = 0; i < Model.CarrosselNoticias.Count(); i++)
                                {
                                    if (i == 0)
                                    {
                            <div class="item active">
                                <img alt="" src="@Model.CarrosselNoticias[i].Imagens.Where(c=> c.stPrincipal).FirstOrDefault().xUrlImg" />
                                <div class="carousel-caption">
                                    <h4>
                                        @Model.CarrosselNoticias[i].xTitulo
                                    </h4>

                                    <p>
                                        @Model.CarrosselNoticias[i].xNoticia
                                    </p>
                                </div>
                            </div>
                                    }
                                    else
                                    {
                            <div class="item">
                                <img alt="" src="@Model.CarrosselNoticias[i].Imagens.Where(c=> c.stPrincipal).FirstOrDefault().xUrlImg" />
                                <div class="carousel-caption">
                                    <h4>
                                        @Model.CarrosselNoticias[i].xTitulo
                                    </h4>

                                    <p>
                                        @Model.CarrosselNoticias[i].xNoticia
                                    </p>
                                </div>
                            </div>
                                    }
                                }
                            </div> <a class="left carousel-control" href="#carousel-933315" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-933315" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<br />
<fieldset>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <fieldset>
                    <legend>
                        <em style="padding-left:15px">Segmentos</em>
                    </legend>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="jcarousel-wrapper">
            <div class="jcarousel">
                <ul>
                    <li><img src="http://www.hlp.com.br/imagens/Portal/Solucoes/segmentoVendas.png" alt="Image 1"></li>
                    <li><img src="http://www.hlp.com.br/imagens/Portal/Solucoes/segmentoVarejo.png" alt="Image 2"></li>
                    <li><img src="http://www.hlp.com.br/imagens/Portal/Solucoes/segmentoFinancas.png" alt="Image 3"></li>
                    <li><img src="http://static.flickr.com/77/199481108_4359e6b971_s.jpg" alt="Image 4"></li>
                    <li><img src="http://static.flickr.com/58/199481143_3c148d9dd3_s.jpg" alt="Image 5"></li>
                    <li><img src="http://static.flickr.com/72/199481203_ad4cdcf109_s.jpg" alt="Image 6"></li>
                </ul>
            </div>

            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>

            <p class="jcarousel-pagination"></p>
        </div>
    </div>
</fieldset>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <section>
                @Html.Partial("_PartialNoticiasDestaque")
            </section>
        </div>
        <div class="col-md-4 column">
            <section>
                @Html.Partial("_PartialEndereco")
            </section>
        </div>
        <div class="col-md-4 column">
        </div>
    </div>
</div>

