@using System.Web.Optimization;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>HLP Estratégia em software</title>
    <link href="~/Content/Images/icone_hlp.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/scripts/desktop")
    @Styles.Render("~/bundles/css/desktop")
    <script>
        $(document).ready(function () {
            $(".nav li").on("click", function () {
                $(".nav li").removeClass("active");
                $(this).addClass("active");
            });
        })
    </script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">
                </div>
                <div class="col-md-4 column">

                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <section id="login">
                        @if (Request.IsAuthenticated)
                        {
                            if (Session["user"] != null)
                            {
                                string xFullName = (Session["user"] as HLP.Portal.MVC.Models.Registration.UserModel).xFullName;

                                <text>
                                    Olá, @xFullName  @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }), <a href="~/User/Logout">Sair</a>
                                </text>
                            }
                            else
                            {
                                <text>
                                    Olá, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" }), <a href="~/User/Logout">Sair</a>
                                </text>
                            }
                        }
                    </section>
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="~/Home/Home">Home</a>
                                </li>
                                <li>
                                    <a href="~/Sistema/Solucoes">Soluções</a>
                                </li>
                                <li>
                                    <a href="~/Noticia/Noticias">Notícias</a>
                                </li>
                                <li>
                                    <a href="#">Clientes</a>
                                </li>
                                <li>
                                    <a href="#">Empresa</a>
                                </li>
                                <li>
                                    <a href="#">Contato</a>
                                </li>
                                <li>
                                    <a href="~/SoliciteContato/Solicitar">Solicite contato</a>
                                </li>
                                <li>
                                    <a href="~/TrabalheConosco/Formulario">Trabalhe conosco</a>
                                </li>
                                @if (Request.IsAuthenticated)
                                {
                                    <li>
                                        <a href="~/User/Logout">Sair</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="~/User/Login">Entrar</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>
    <section class="container">
        <div>
            @Html.Partial("_PartialSucesso")
        </div>
    </section>
    <section class="container">
        <div>
            @RenderBody()
        </div>
    </section>
    <br />
    <br />
    <footer>
        @*navbar-fixed-bottom*@
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="container">
                <p style="color:white">
                    &copy; 2014 - <strong style="color:white">HLP estratégia em sistemas.</strong>
                    <a href="https://www.facebook.com/HLPSoftware" title="Facebook" target="_blank">
                        <img width="12" height="12" src="~/Content/Images/img_facebook.png">
                    </a>
                    <small>
                        <em style="padding-left:20px">Desenvolvido por:</em>
                        <a href="https://www.linkedin.com/pub/diego-raphael-ramos/48/ab0/804" target="_blank">Diego Ramos</a>,
                        <a href="https://www.linkedin.com/pub/carlos-takeeshi-utiyama/7a/564/7b2" target="_blank">Carlos Utiyama</a>,
                    </small>
                </p>
            </div>
        </nav>
    </footer>
    @Scripts.Render("~/bundles/scripts/desktop")
    @RenderSection("SCRIPTS", required: false)
    @RenderSection("ESTILOS", required: false)
</body>
</html>
