@using System.Web.Optimization;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>HLP Estratégia em software</title>
    <link href="~/Content/Images/icone_hlp.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/scripts/desktop")
    @Styles.Render("~/bundles/css/desktop")
    <script>
    $(document).ready(function () {
        $(".nav li").on("click", function ()
        {
            $(".nav li").removeClass("active");
            $(this).addClass("active");
        });
    })

</script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#">HLP</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="~/Sistema/Solucoes">Soluções</a>
                    </li>
                    <li>
                        <a href="~/Noticia/Noticias">Notícias</a>
                    </li>
                    <li>
                        <a href="#">Clientes</a>
                    </li>
                    <li>
                        <a href="#">Empresa</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>
                    <li>
                        <a href="~/SoliciteContato/Solicitar">Solicite contato</a>
                    </li>
                    <li>
                        <a href="~/TrabalheConosco/Formulario">Trabalhe conosco</a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <strong>@Html.Encode(User.Identity.Name)</strong>
                            <a href="~/User/Logout">Log Out</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="~/User/Register">Registre-se</a>
                        </li>
                        <li>
                            <a href="~/User/Login">Log In</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <div>
            @Html.Partial("_PartialSucesso")
        </div>
    </section>
    <section class="container">
        <div>
            @RenderBody()
        </div>
    </section>
    <footer>
        @*navbar-fixed-bottom*@
        <nav class="navbar navbar-default navbar-inverse " role="navigation">
            <div class="container">
                <p style="color:white">
                    &copy; 2014 - <strong style="color:white">HLP estratégia em sistemas.</strong>
                    <a href="https://www.facebook.com/HLPSoftware" title="Facebook" target="_blank">
                        <img width="12" height="12" src="~/Content/Images/img_facebook.png">
                    </a>
                    <small>
                        <em style="padding-left:20px">Desenvolvido por:</em>
                        <a href="https://www.linkedin.com/pub/diego-raphael-ramos/48/ab0/804" target="_blank">Diego Ramos</a>,
                        <a href="https://www.linkedin.com/pub/carlos-takeeshi-utiyama/7a/564/7b2" target="_blank">Carlos Utiyama</a>,
                    </small>
                </p>
            </div>
        </nav>
    </footer>
    @Scripts.Render("~/bundles/scripts/desktop")
    @RenderSection("SCRIPTS", required: false)
    @RenderSection("ESTILOS", required: false)
</body>
</html>
